@import "../../styles/variables"

$shadow-color: rgb(179, 177, 177)
$app-bg-color: rgb(218, 214, 214)

.crowdchat-wrapper
	width: 720px
	height: 600px
	padding: 20px
	background-color: $app-bg-color
	
.pane-wrapper
	position: relative
	height: 100%
	background-color: $white
	border-radius: 5px
	overflow: hidden
	box-shadow: 1px 1px 2px $shadow-color

.chat-pane, .list-pane
	float: left
	box-sizing: border-box
	height: 100%
	
.chat-pane
	min-width: 65%
	border-right: 1px solid $border-color

.list-pane
	min-width: 35%

		